@tailwind base;
@tailwind components;
@tailwind utilities;

body,
.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-light {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.kanit-medium {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.kanit-semibold {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.kanit-bold {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.kanit-extrabold {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.kanit-black {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.active {
  border-bottom: 2px solid orangered;
  --tw-text-opacity: 1;
  color: rgb(249 115 22 / var(--tw-text-opacity));
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@layer components {
  .wallet-adapter-button-trigger {
    @apply rounded-xl !important;
  }
}

.wallet-adapter-button-trigger {
  --tw-text-opacity: 1;
  background: rgb(249 115 22 / var(--tw-text-opacity));

  background: transparent !important;
  border: 1px solid rgb(249 115 22 / var(--tw-text-opacity)) !important;

  @apply rounded-xl !important;
}

.wallet-adapter-button-trigger:hover {
  background: transparent !important;
}

.bottom .active {
  border-bottom: none !important;
}
